{% extends 'baseclientes.html' %}

{% block body %}

<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Tienda </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/inicio">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ayuda">Ayuda</a></li>
                         <li class="nav-item"><a class="nav-link" href="/comparar">Comparar Productos</a></li>

                    </ul>

                         <a class="btn btn-outline-dark" href="/vercarrito" role="button">Carrito
                            <i class="bi-cart-fill me-1"></i><span class="badge rounded-pill bg-secondary">{{cant}}</span></a>


                        <li class="nav-item dropdown" style="list-style:none;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ nomb }}
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/cerrarsesion">Cerrar Sesión</a></li>

                            </ul>
                         </li>


                </div>
            </div>
        </nav>

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                      <h1 class="display-4 fw-bolder">
                        <img src="/static/img/scliente.png" class="img-fluid" width="5%">

                        Ayuda en Linea
                    <img src="/static/img/scliente.png" class="img-fluid" width="5%">
                    </h1>

                </div>
            </div>
        </header>




<br>
<br>


<div class="container">

    <div class="alert alert-warning" role="alert">
  <font size="4"> <b style="color:red"> Bienvenido <b style="color:black">{{nomb}}</b> al Sistema de Ayuda en Linea por favor detalle en el campo
    Mensaje su problema y posteriormente un asesor se comunicara con usted mediante el correo electronico registrado.
    </b></font>
</div>

    <br>
    {% with messages = get_flashed_messages() %}
            {% if messages %}

            {% for message in messages %}

                {{ message|safe }}

            {% endfor %}

            {% endif %}

        {% endwith %}
    <br>

    <form method="POST" action="comunicar">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Correo Electronico</b></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" value="{{correo}}" name="corres" >
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje" required></textarea>
</div>
<br>
        <center> <button type="submit" class="btn btn-success">Enviar</button></center>
</form>

</div>



{% endblock %}

