{% extends 'base.html' %}

{% block body %}
<title>{{titulo}}</title>
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="15%">&nbsp; HomeSmart</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img src="/static/img/traducir.png" alt="traduccion">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wähle eine Sprache</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <a class="btn btn-outline-primary" href="/en" role="button"> <img src="/static/img/en.png" width="20%">&nbsp;Englisch</a>
          <a class="btn btn-outline-success" href="/" role="button"> <img src="/static/img/esp.png" width="10%">&nbsp;Spanisches</a>
          <a class="btn btn-outline-danger" href="/ru" role="button"><img src="/static/img/ru.png" width="20%">&nbsp; Russisch</a>



      </div>

    </div>
  </div>
</div>


                            <li class="nav-item"><a class="nav-link" href="/verproductos">Produkte</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contactos">Kontakte:</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Einloggen</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">Die besten Produkte für Ihr Smart Home</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Nachrichten</div>
                                        <div class="h2 fw-bolder"> Bei HomeSmart </div>
                                        <p align="justify" id="texto">
                                        Wir haben die besten Geräte, um Ihr Zuhause viel einfacher zu steuern. Hier finden Sie Produkte von Google, Amazon und anderen Top-Marken, die revolutioniert werden
den SmartHome-Markt.

                                        </p>
                                        <button type="button" class="btn btn-outline-secondary" id="hablar"><img src="/static/img/habla.png"></button>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('/static/img/domo.jpg');width:100%;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4"> Häufige Fragen</h2>
                            <!-- News item-->
                            <div class="mb-4">
                                <div class="small text-muted"><h4><b>Was ist ein Smarthome?</b></h4></div>
                                <br>

                                <p align="justify">
                                    Ein Smart Home ist ein Haus, das für mehr Komfort und Effizienz unterschiedliche Technologien zur Steuerung von Sicherheitssystemen, Energiesystemen oder Kommunikation ua integriert und unter anderem die täglichen Aktivitäten durch den Einsatz von Hausautomation automatisieren soll.


                                </p>



                            </div>
                            <!-- News item-->
                            <div class="mb-5">
                                <div class="small text-muted"><h4><b> Vorteile von Smart Homes </b></h4> </div>
                                <br>
                                Die Hauptvorteile der Umwandlung Ihres Hauses in ein SmartHome sind:
                                <ul>
                                    <li> Sicherheit </li>
                                    <li> Komfort </li>
                                    <li> Energie sparen </li>


                                </ul>

                            </div>
                             <!-- News item-->
                            <div class="mb-5">

                                <img src="/static/img/wha.png" class="img-fluid">


                            </div>


                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 h-100">
                                <div class="card-body p-4">
                                    <div class="d-flex h-100 align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Kontakte:</div>
                                            <p class="text-muted mb-4" align="justify">
                                                Klicken Sie auf einen unserer Kontakte für weitere Informationen
                                                <br />

                                            </p>
                                            <div class="h6 fw-bolder">Wir sind HomeSmartEC</div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">SmartHome-Hauptmarken</h2>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/googlehome.jpg" alt="..." />
                                <div class="card-body p-4">

                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Google</center></div></a>
                                    <p class="card-text mb-0" align="justify">
                                        Mit Google Home können Sie Lautsprecher und Displays von Google Nest oder Google Home sowie Chromecast-Geräte einrichten und steuern. Sie können Tausende von kompatiblen Lichtern, Kameras, Lautsprechern und anderen Geräten steuern sowie Ihre letzten Erinnerungen und Benachrichtigungen von einer einzigen App aus überprüfen.


                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/amazon.png" alt="..." />
                                <div class="card-body p-4">
                                    <br>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Amazon</center></div></a>
                                    <p class="card-text mb-0">
                                        Die Bedienung von Alexa ist der anderer Assistenten wie Google Assistant, Siri und Cortana sehr ähnlich. Sie rufen es zunächst auf, indem Sie seinen Namen sagen, woraufhin der Lautsprecher oder das Gerät, in das es integriert ist, zu hören beginnt. Dann müssen Sie mit Ihrer Stimme einen Befehl sagen, und der Assistent erkennt, was Sie fragen und gibt Ihnen eine Antwort.
                                    </p>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/xiaomi.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <br>

                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Xiaomi</center></div></a>
                                    <p class="card-text mb-0" align="justify">

                                     Dank einer großen Produktumgebung hat sich Xiaomi zu einem der führenden Technologieunternehmen entwickelt, da es eine Vielzahl von Produkten von Smart Lights bis hin zu Staubsaugern anbietet und damit zu einem der Referenzunternehmen in Bezug auf SmartHome wird. Mit seiner MiHome-Anwendung können Sie jedes Gerät steuern , ermöglicht Xiaomi auch die Integration anderer Hausautomationsanwendungen.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>



<script>

var data=document.getElementById('texto').innerHTML;
//console.log(data);
document.getElementById('hablar').addEventListener("click",()=>{
    decir(data);
});

function decir(texto){
    speechSynthesis.speak(new SpeechSynthesisUtterance(texto));
}

</script>

 {% endblock %}
