{% extends 'base.html' %}

{% block body %}
<title>{{titulo}}</title>

        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="15%">&nbsp; HomeSmart</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img src="/static/img/traducir.png" alt="traduccion">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выберите язык</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <a class="btn btn-outline-primary" href="/en" role="button"> <img src="/static/img/en.png" width="20%">&nbsp;английский</a>
          <a class="btn btn-outline-warning" href="/al" role="button"><img src="/static/img/al.png" width="20%">&nbsp;Немецкий</a>
          <a class="btn btn-outline-success" href="/" role="button"><img src="/static/img/ru.png" width="20%">&nbsp; испанский</a>



      </div>

    </div>
  </div>
</div>


                            <li class="nav-item"><a class="nav-link" href="/verproductos">Продукты</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contactos">Контакты:</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Авторизоваться</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">Лучшие товары для вашего умного дома</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Новости</div>
                                        <div class="h2 fw-bolder"> Ha HomeSmart </div>
                                        <p align="justify" id="texto">
                                        У нас есть лучшие устройства для более простого управления вашим домом, здесь вы найдете продукты от Google, Amazon и других ведущих брендов, которые революционизировали
рынок SmartHome.

                                        </p>
                                        <button type="button" class="btn btn-outline-secondary" id="hablar"><img src="/static/img/habla.png"></button>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('/static/img/domo.jpg');width:100%;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4"> Частые вопросы</h2>
                            <!-- News item-->
                            <div class="mb-4">
                                <div class="small text-muted"><h4><b>Что такое умный дом?</b></h4></div>
                                <br>

                                <p align="justify">
                                   Умный дом - это дом, который объединяет различные технологии для управления системами безопасности, энергосистемами или коммуникациями, среди прочего, для обеспечения большего комфорта и эффективности.Одной из его целей является автоматизация повседневной деятельности за счет использования домашней автоматизации.


                                </p>



                            </div>
                            <!-- News item-->
                            <div class="mb-5">
                                <div class="small text-muted"><h4><b> Преимущества умных домов</b></h4> </div>
                                <br>
                                Основные преимущества превращения вашего дома в SmartHome:
                                <ul>
                                    <li> Безопасность </li>
                                    <li> Безопасность </li>
                                    <li> Сохранение энергии </li>


                                </ul>

                            </div>
                             <!-- News item-->
                            <div class="mb-5">

                                <img src="/static/img/wha.png" class="img-fluid">


                            </div>


                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 h-100">
                                <div class="card-body p-4">
                                    <div class="d-flex h-100 align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Контакты:</div>
                                            <p class="text-muted mb-4" align="justify">
                                               Нажмите на один из наших контактов для получения дополнительной информации
                                                <br />

                                            </p>
                                            <div class="h6 fw-bolder">Находятся HomeSmartEC</div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">Основные бренды SmartHome</h2>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/googlehome.jpg" alt="..." />
                                <div class="card-body p-4">

                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Google</center></div></a>
                                    <p class="card-text mb-0" align="justify">
                                       Google Home позволяет настраивать и управлять динамиками и дисплеями Google Nest или Google Home, а также устройствами Chromecast. Вы можете управлять тысячами совместимых источников света, камер, динамиков и других устройств, а также проверять свои недавние напоминания и уведомления из одного приложения.


                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/amazon.png" alt="..." />
                                <div class="card-body p-4">
                                    <br>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Amazon</center></div></a>
                                    <p class="card-text mb-0">
                                      Работа Alexa очень похожа на работу других помощников, таких как Google Assistant, Siri и Cortana. Вы начинаете с призыва его, произнося его имя, после чего говорящий или
устройство, в которое он интегрирован, начнет слушать. Затем вы должны произнести команду своим голосом, и помощник распознает ваш вопрос и скажет вам ответ.
                                    </p>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/xiaomi.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <br>

                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Xiaomi</center></div></a>
                                    <p class="card-text mb-0" align="justify">

                                      Благодаря обширной продуктовой среде Xiaomi стала ведущей технологической компанией, поскольку она предлагает широкий спектр продуктов от интеллектуальных фонарей до пылесосов, что делает ее одной из эталонных компаний с точки зрения SmartHome, с ее приложением MiHome вы можете управлять любым устройством. , Xiaomi также позволяет интегрировать другие приложения для домашней автоматизации.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>



<script>

var data=document.getElementById('texto').innerHTML;
//console.log(data);
document.getElementById('hablar').addEventListener("click",()=>{
    decir(data);
});

function decir(texto){
    let utterance = new SpeechSynthesisUtterance(texto)
    utterance.lang = 'ru-RU'
    speechSynthesis.speak(utterance)
}

</script>

 {% endblock %}
