{% extends 'base.html' %}

{% block body %}
<title>{{titulo}}</title>
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="15%">&nbsp; HomeSmart</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img src="/static/img/traducir.png" alt="traduccion">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select a language</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <a class="btn btn-outline-success" href="/" role="button"> <img src="/static/img/esp.png" width="20%">&nbsp;Spanish</a>
          <a class="btn btn-outline-warning" href="/al" role="button"><img src="/static/img/al.png" width="20%">&nbsp;German</a>
          <a class="btn btn-outline-danger" href="/ru" role="button"><img src="/static/img/ru.png" width="20%">&nbsp; Russian</a>



      </div>

    </div>
  </div>
</div>


                            <li class="nav-item"><a class="nav-link" href="/verproductos">Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contactos">Contacts</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">The best products for your Smart Home</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                        <div class="h2 fw-bolder"> At HomeSmart </div>
                                        <p align="justify" id="texto">
                                        We have the best devices to control your home in a much easier way, here you will find products from Google, Amazon and other top brands that are revolutionizing the SmartHome market.

                                        </p>
                                        <button type="button" class="btn btn-outline-secondary" id="hablar"><img src="/static/img/habla.png"></button>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('/static/img/domo.jpg');width:100%;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4"> Frequent questions</h2>
                            <!-- News item-->
                            <div class="mb-4">
                                <div class="small text-muted"><h4><b>What is a Smart Home?</b></h4></div>
                                <br>

                                <p align="justify">
                                    A smart home is called a home that integrates different technologies to control security systems, energy systems or communications, among others, to provide greater comfort and efficiency. One of its objectives is to automate daily activities through the use of home automation.


                                </p>



                            </div>
                            <!-- News item-->
                            <div class="mb-5">
                                <div class="small text-muted"><h4><b> Advantages of Smart Homes</b></h4> </div>
                                <br>
                                The main advantages of converting your house into a SmartHome are:
                                <ul>
                                    <li> Security </li>
                                    <li> Comfort </li>
                                    <li> Energy saving </li>


                                </ul>

                            </div>
                             <!-- News item-->
                            <div class="mb-5">

                                <img src="/static/img/wha.png" class="img-fluid">


                            </div>


                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 h-100">
                                <div class="card-body p-4">
                                    <div class="d-flex h-100 align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Contacts</div>
                                            <p class="text-muted mb-4" align="justify">
                                                Click on one of our contacts for more information
                                                <br />

                                            </p>
                                            <div class="h6 fw-bolder">We are HomeSmartEC</div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">SmartHome main brands</h2>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/googlehome.jpg" alt="..." />
                                <div class="card-body p-4">

                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Google</center></div></a>
                                    <p class="card-text mb-0" align="justify">
                                        Google Home lets you set up and control Google Nest or Google Home speakers and displays, as well as Chromecast devices. You can control thousands of compatible lights, cameras, speakers, and other devices, as well as check your recent reminders and notifications from a single app.


                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/amazon.png" alt="..." />
                                <div class="card-body p-4">
                                    <br>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Amazon</center></div></a>
                                    <p class="card-text mb-0">
                                        The operation of Alexa is very similar to that of other assistants such as Google Assistant, Siri and Cortana. You start by invoking him by saying his name, at which point the speaker or
device in which it is integrated will listen. Then you must say a command with your voice, and the assistant will recognize what you ask and will tell you an answer.
                                    </p>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/static/img/xiaomi.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <br>

                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><center>Xiaomi</center></div></a>
                                    <p class="card-text mb-0" align="justify">

                                       Thanks to a large product environment, Xiaomi has become the top technology companies since it has a wide variety of products from smart lights to vacuum cleaners, making it one of the reference companies in terms of SmartHome, with its MiHome application you can control any device , Xiaomi also allows the integration of other home automation applications.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>



<script>

var data=document.getElementById('texto').innerHTML;
//console.log(data);
document.getElementById('hablar').addEventListener("click",()=>{
    decir(data);
});

function decir(texto){
    speechSynthesis.speak(new SpeechSynthesisUtterance(texto));
}

</script>

 {% endblock %}
