{% extends 'baseclientes.html' %}

{% block body %}
<script>
    function validar(){
        var tarjetas=document.getElementById('tarjeta').value;
        var claves=document.getElementById('clave').value;


        var bandera=false;

        for(var i=0;i<tarjetas.length;i++){
			if(isNaN(parseInt(tarjetas.charAt(i)))==true){
				alert("El campo Tarjeta de Credito no puede tener caracteres ")
				return false;
			}
		}


		if(tarjetas.length >17){
			alert("Su tarjeta de credito tiene mas 16 digitos");
			return false;
		}

		    for(var i=0;i<claves.length;i++){
			if(isNaN(parseInt(claves.charAt(i)))==true){
				alert("Recuerde que su clave debe ser numeros")
				return false;
			}
		}


		if(claves.length >4){
			alert("El CV de la tarjeta son unicamente 3 digitos");
			return false;
		}

    }

</script>
 <!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/inicio">Tienda </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/inicio">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ayuda">Ayuda</a></li>

                    </ul>


                            <a class="btn btn-outline-dark" href="/vercarrito" role="button">Carrito
                            <i class="bi-cart-fill me-1"></i><span class="badge rounded-pill bg-secondary">{{cant}}</span></a>




                         <li class="nav-item dropdown" style="list-style:none;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ nomb }}
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/cerrarsesion">Cerrar Sesión</a></li>

                            </ul>
                         </li>


                </div>
            </div>
        </nav>


<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Mi Carrito de Compras</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Sus productos apareceran para proceder con el pago</p>
                </div>
            </div>
        </header>

<br>
<br>

<div class="container">

  {% with messages = get_flashed_messages() %}
            {% if messages %}

            {% for message in messages %}

                {{ message|safe }}

            {% endfor %}

            {% endif %}

        {% endwith %}

  <table class="table table-striped">
  <thead class="thead-light">
    <tr>

        <th scope="col"><center>Descripción</center></th>
      <th scope="col">Cantidad</th>
        <th scope="col">Valor a Pagar</th>
        <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
   {% for tc in carpro %}
    <tr>

      <td>{{tc.1}}</td>
      <td>{{tc.3}}</td>
        <td>{{tc.4}}</td>




        </td>

        <td> <a class="btn btn-danger" href="/eliminarcar?prod={{tc.0}}" role="button">Eliminar </a></td>


    </tr>


    {% endfor %}

  </tbody>
</table>

   <b><i><h4 align="right"> SUBTOTAL : $ {{sto}}</h4></i></b>
    <p align="right"> <a class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" href="/pagar">Confirmar Pago</a></p>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

      <h4> <center> INGRESO DE TARJETA DE CRÉDITO</center></h4>
        <br>
        <br>
      <form method="POST" action="confirmapago" onsubmit="return validar()">

        <div class="mb-3">
            <b><label for="tarjeta" class="form-label">Número de Tarjeta de Crédito</label></b>
            <input type="number" class="form-control" id="tarjeta" aria-describedby="emailHelp" name="tarjeta">

        </div>

          <div class="mb-3">
               <div class="row">
                    <div class="col">
                        <b><label for="mess" class="form-label">Mes</label></b>
                        <select class="form-select" aria-label="Default select example" id="mess" name="mes" >
                            <option selected>Seleccione ..</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="3">04</option>
                            <option value="3">05</option>
                            <option value="3">06</option>
                            <option value="3">07</option>
                            <option value="3">08</option>
                            <option value="3">09</option>
                            <option value="3">10</option>
                            <option value="3">11</option>
                            <option value="3">12</option>
                        </select>
                    </div>
                   <div class="col">
                        <b><label for="anio" class="form-label">Año</label></b>
                        <select class="form-select" aria-label="Default select example" id="anio" name="anio" >
                            <option selected>Seleccione ..</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                            <option value="3">2022</option>
                            <option value="3">2023</option>
                            <option value="3">2024</option>

                        </select>
                    </div>
               </div>


        </div>
        <div class="mb-3">
            <label for="clave" class="form-label"><b>CV</b></label>
            <input type="password" class="form-control" id="clave" name="clave">
        </div>


          <div class="mb-3">
            <p align="justify"> Se procederá a realizar el pago por :<b> {{ sto }}$</b> ,el cual será debitado de su tarjeta de crédito proporcionada para confirmar su pago
                pulse el botón de <b>PAGAR</b>.
            </p>
        </div>

        <input type="hidden" value="{{ sto }}" name="total">

        <button type="submit" class="btn btn-success btn-lg">Pagar</button>




      </form>


  </div>


</div>


    </div> <!-- FinContainer-->

{% endblock %}
